*{
    padding: 0%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

body{

    color: darkkhaki;
    background-color: black;
    display: block;
}

.container{
    border-radius: 5px;
    border: solid 2px darkkhaki;
    margin: 5px;
    padding: 20px;
}


ol {
    float: left;
  }
  
  a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: white;
  }


p{
    color:darkkhaki ;
    text-align: left;
}